* {
    padding: 0;
    margin: 0;
}

body  {
    overflow: hidden;
}



.left-image {
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    width: 40vw;
    height: 100vh;
    /* border: 2px solid red; */
}
.left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    padding-top: 2em;
}

.nav-logo img {
    height: 42px;
}
nav {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    padding-left: 120px;
}
.links {
    margin-left: 0px;
    display: flex;
    width: 20vw;
    justify-content: space-between;
    font-size: 1.4em;
    color: #747474;
}

li {
    list-style: none;
}

.links li:hover, .selected {
    color: black;
}

.line {
    /* padding:0; */
    width: 320px;
    margin-left: 720px;
    margin-right: 60px;
    /* border-bottom: 2px solid black; */
}

article {
    margin-left: 760px;
}

.main-heading {
    /* border: 2px solid black; */
    padding: 1em;
}

.heading-line {
    font-size: 140px;    
    font-weight: bold;
}
.hp1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.heading-tag {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    /* border: 2px solid blueviolet; */
}
.hp2 {
    margin-left: 220px;
    font-size: 140px;
    /* display: inline; */
    line-height: 0.5em;
}

.tags {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.8em;
    padding-top: 0.5em;
    font-weight: lighter;
    color: #7e7e7e;
    margin-left: 0.7em;
}

.btn {
    /* border: 2px solid green; */
    float: right;
    margin-right: 6em;
}

.btn button {
    margin-top: 2.3em;
    padding: 1em 2em;
    color: white;
    font-size: 1em;
    background-color: black;
    border: none;
    cursor: pointer;
}

.media-icons {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    height: 240px;
    justify-content: space-between;
    width: 60px;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 92px;
}

.content {
    margin-top: 7em;
    /* border: 2px solid red; */
    display: flex;
}
.left-section {
    width: 30vw;
}

.line-vertical {
    position: absolute;
    width: 780px;
    transform: rotate(90deg);
    bottom: -40px;
    left: 408px;
    z-index: -2;
}

.fac-list {
    padding: 1em;
    line-height: 2.5em;
    font-size:1.8em;
}
.fac-list li:first-child{
    color: rgb(0, 0, 0);
}
.fac-list li {
    color: gray;
    /* list-style-type: disc; */
}
.fac-list li::before {
    font-size: 0.8em;
    content: '\2B24 ';
    list-style-position: outside;
    margin-right: 12px;
}

.right-section {
    /* border: 2px solid green; */
    margin-left: auto;
    margin-right: 12em;
    padding: 4em;
}

.bold-q {
    font-size: 1.5em;
}

.bold-q::before {
    display: block;
    content: '\201D';
    font-size: 5em;
    line-height: 20px;
}
.img-container {
    width: auto;
    height: 260px;
    padding-top: 1em;
}

.img-container img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.arrow-icon {
    position: absolute;
    bottom:71px;
    right: 19px;
    transform: rotate(90deg);
}

.arrow-icon img {
    height: 107px;
    width: 217px;
}